body {
	background: #121212;           /*Project created with love by zafros*/
}

#reddit {
	padding-left: 10px;
	box-sizing: border-box;

	position: absolute;
	width: 226px;
	height: 45px;
	left: 35px;
	top: 310px;

	background: rgba(136, 136, 136, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 7px;

	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;

	color: #FFFFFF;
}

#channel_id {
	padding-left: 10px;
	box-sizing: border-box;

	position: absolute;
	width: 226px;
	height: 45px;
	left: 35px;
	top: 227px;

	background: rgba(136, 136, 136, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 7px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;

	color: #FFFFFF;

}

#amount {
	padding-left: 10px;
	box-sizing: border-box;

	position: absolute;
	width: 156px;
	height: 45px;
	left: 549px;
	top: 393px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;

	background: rgba(136, 136, 136, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 7px 0px 0px 7px;
	color: #FFFFFF;
}

#submit {
	user-select: none;
	box-sizing: border-box;

	position: absolute;
	width: 228px;
	height: 45px;
	left: 549px;
	top: 471px;

	background: rgba(47, 245, 67, 0.51);
	border: 1px solid rgba(255, 255, 255, 0.38);
	box-shadow: 0px 0px 20px rgba(51, 255, 0, 0.15);
	border-radius: 7px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	color: #FFFFFF;
}

#submit:hover {
  background-color: rgba(42, 245, 67, 0.54);
  cursor: pointer;
}

#version:hover {
	cursor: pointer;
	color: #054BF9FF;
}

#Title {
	position: absolute;
	width: 136px;
	height: 57px;
	left: 35px;
	top: 1px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 57px;
	/* identical to box height */

	letter-spacing: 0.04em;

	color: #FFFFFF;
}

#token::selection,
#reddit::selection,
#channel_id::selection,
#cooldown::selection,
#amount::selection,
#Title::selection,
#Subtitle::selection,
.info::selection
{
	background:#911BE3E9;
	color:#fff;
}


#Subtitle {
	position: absolute;
	width: 314px;
	height: 77px;
	left: 35px;
	top: 58px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 144%;
	/* or 35px */

	letter-spacing: 0.04em;

	color: rgba(255, 255, 255, 0.7);
}

.info {
	position: absolute;
	
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	/* identical to box height */

	display: flex;
	align-items: flex-end;

	color: #FFFFFF;
}

#channel_id_help {
	width: 194px;
	height: 24px;
	left: 35px;
	top: 181px;
}

#reddit_help {
	width: 154px;
	height: 24px;
	left: 35px;
	top: 264px;
}

#token_help {
	width: 95px;
	height: 24px;
	left: 35px;
	top: 347px;
}

#image_help {
	width: 154px;
	height: 24px;
	left: 292px;
	top: 263px;
}

#copyright_help {
	width: 147px;
	height: 24px;
	left: 292px;
	top: 347px;
}

#cooldown_help {
	width: 147px;
	height: 24px;
	left: 549px;
	top: 264px;
}

#amount_help {
	width: 125px;
	height: 24px;
	left: 549px;
	top: 347px;
}

#version {
	user-select: none;
	position: absolute;
	width: 170px;                       /*ENLARGE ME IF YOU CHANGE THE VERSION!*/
	height: 22px;
	left: 38px;
	top: 480px; 

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: flex-end;

	color: rgba(255, 255, 255, 0.2);
}

#logo {
	user-select: none;
	position: absolute;
	width: 137px;
	height: 137px;
	left: 640px;
	top: 33px;
	color: #FFFFFF;
}

#amount_plus {
	user-select: none;
	box-sizing: border-box;

	position: absolute;
	width: 70px;
	height: 23px;
	left: 705px;
	top: 393px;

	background: rgba(136, 136, 136, 0.05);
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.2);
	border-radius: 0px 7px 0px 0px;
}

#amount_minus {
	user-select: none;
	box-sizing: border-box;

	position: absolute;
	width: 70px;
	height: 22px;
	left: 705px;
	top: 416px;

	background: rgba(136, 136, 136, 0.05);
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.2);
	border-radius: 0px 0px 7px 0px;
}

#amount_plus_png {
	user-select: none;
	color: #fff;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 731px;
	top: 395px;
}

#amount_minus_png {
	user-select: none;
	color: #fff;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 731px;
	top: 419px;
}

#cooldown {
	padding-left: 10px;
	box-sizing: border-box;

	position: absolute;
	width: 156px;
	height: 45px;
	left: 549px;
	top: 310px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;

	background: rgba(136, 136, 136, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 7px 0px 0px 7px;

	color: #FFFFFF;
}

#cooldown_plus {
	user-select: none;
	box-sizing: border-box;

	position: absolute;
	width: 70px;
	height: 23px;
	left: 705px;
	top: 310px;

	background: rgba(136, 136, 136, 0.05);
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.2);
	border-radius: 0px 7px 0px 0px;
}

#cooldown_minus {
	user-select: none;
	box-sizing: border-box;

	position: absolute;
	width: 70px;
	height: 22px;
	left: 705px;
	top: 333px;

	background: rgba(136, 136, 136, 0.05);
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.2);
	border-radius: 0px 0px 7px 0px;
}

#cooldown_plus_png {
	color: #fff;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 731px;
	top: 312px;
	user-select: none;
}

#cooldown_minus_png {
	color: #fff;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 731px;
	top: 336px;
	user-select: none;
}

#cooldown_minus_png:hover,
#cooldown_plus_png:hover,
#cooldown_minus:hover,
#cooldown_plus:hover,
#amount_minus_png:hover,
#amount_plus_png:hover,
#amount_minus:hover,
#amount_plus:hover,
#image:hover,
#copyright:hover,
#notify_ok:hover,
#logo:hover
{
	cursor:pointer;
}


#token {
	padding-left: 10px;
	box-sizing: border-box;

	position: absolute;
	width: 226px;
	height: 45px;
	left: 35px;
	top: 393px;

	background: rgba(136, 136, 136, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 7px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;

	color: #FFFFFF;

}

#image {
	user-select: none;
	box-sizing: border-box;

	position: absolute;
	width: 226px;
	height: 45px;
	left: 292px;
	top: 309px;

	background: rgba(70, 233, 56, 0.18);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 7px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	color: rgba(255, 255, 255, 0.86);
}

#image:hover {
	cursor: pointer;
}

#copyright:hover {
	cursor: pointer;
}

#copyright {
	user-select: none;
	box-sizing: border-box;

	position: absolute;
	width: 226px;
	height: 45px;
	left: 292px;
	top: 393px;

	background: rgba(70, 233, 56, 0.18);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 7px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	color: rgba(255, 255, 255, 0.86);
}

#title_process {
	position: absolute;
	width: 380px;
	height: 28px;
	left: 35px;
	top: 215px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: flex-end;

	color: #FFFFFF;
}

#counter {
	position: absolute;
	width: 345px;
	height: 24px;
	left: 432px;
	top: 200px;
	float: right;
	right: 0;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	/* identical to box height */

	display: flex;
	align-items: flex-end;
	text-align: right;
	letter-spacing: 0.06em;
	display: inline-block;

	color: rgba(255, 255, 255, 0.5);
}

#loading_background {
	box-sizing: border-box;

	position: absolute;
	width: 742px;
	height: 45px;
	left: 35px;
	top: 258px;

	background: rgba(136, 136, 136, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 7px;
	user-select: none;
}

#loading {
	transition: 0.2s ease-in-out;
	box-sizing: border-box;
	opacity: 0;

	position: absolute;
	width: 10px;
	height: 45px;
	left: 35px;
	top: 258px;

	background: rgba(132, 36, 255, 0.51);
	border: 1px solid #8B8B8B;
	box-shadow: 0px 0px 20px rgba(158, 0, 255, 0.1);
	border-radius: 7px;
	user-select: none;
}

#background_card_me {
	user-select: none;
	box-sizing: border-box;

	position: absolute;
	width: 361px;
	height: 128px;
	left: 35px;
	top: 325px;

	background: rgba(136, 136, 136, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 7px;
}

#background_card_star:hover,
#background_card_me:hover {
	cursor: pointer;
	background: rgba(136, 136, 136, 0.1);
}

#back:hover {
	cursor: pointer;
	background: rgba(255, 0, 0, 0.61);
}

#background_card_star {
	user-select: none;
	box-sizing: border-box;

	position: absolute;
	width: 361px;
	height: 128px;
	left: 416px;
	top: 325px;

	background: rgba(136, 136, 136, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 7px;
}

#my_avatar {
	user-select: none;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 18px;
	top: 14px;
	border-radius: 7px;
	color: #fff;
}

#me_title {
	user-select: none;
	position: absolute;
	width: 215px;
	height: 40px;
	left: 133px;
	top: 15px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;

	color: #FFFFFF;
}

#me_subtitle {
	user-select: none;
	position: absolute;
	width: 222px;
	height: 53px;
	left: 133px;
	top: 53px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: rgba(255, 255, 255, 0.7);
}

#star_img {
	user-select: none;
	position: absolute;
	left: 17px;
	top: 18px;
	border-radius: 4px;                         /*Project created with love by zafros*/
}

#star_title {
	user-select: none;
	position: absolute;
	width: 230px;
	height: 40px;
	left: 131px;
	top: 15px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;

	color: #FFFFFF;
}

#star_subtitle {
	user-select: none;
	position: absolute;
	width: 222px;
	height: 53px;
	left: 131px;
	top: 53px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: rgba(255, 255, 255, 0.7);
}

#back {
	user-select: none;
	box-sizing: border-box;

	position: absolute;
	width: 228px;
	height: 45px;
	left: 549px;
	top: 471px;

	background: rgba(255, 0, 0, 0.51);
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.6);
	border-radius: 7px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	color: #FFFFFF;
}

#done_title {
	user-select: none;
	opacity: 0;
	justify-content: center;
	position: absolute;
	width: 742px;
	height: 20px;
	left: 35px;
	top: 271px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: flex-end;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
    -moz-appearance:textfield;
}

#notify_background_box {
	opacity: 0;
	transition: 0.06s ease-out;
	user-select: none;
	box-sizing: border-box;

	position: absolute;
	width: 411px;
	height: 222px;
	left: 168px;
	top: 177px;

	background: #121212;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 7px;
}

#notify_title {
	position: absolute;
	width: 322px;
	height: 32px;
	left: 70px;
	top: 19px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 100%;
	/* or 22px */

	display: flex;
	align-items: center;

	color: #FFFFFF;
}

#blur {
	transition: 0.15s ease-out;;
	opacity: 0;
	position: absolute;
	width: 810px;
	height: 545px;
	left: 0px;
	top: 0px;

	background: rgba(217, 217, 217, 0.01);
	backdrop-filter: blur(4px);
	/* Note: backdrop-filter has minimal browser support */

	border-radius: 7px;
	user-select: none;
}

#notify_img {
	position: absolute;
	left: 19px;
	top: 19px;
	user-select: none;
}

#notify_subtitle {
	position: absolute;
	width: 372px;
	height: 82px;
	left: 20px;
	top: 66px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 118.5%;
	/* or 24px */

	letter-spacing: 0.02em;

	color: #FFFFFF;

	opacity: 0.7;
}

#notify_ok {
	box-sizing: border-box;

	position: absolute;
	width: 373px;
	height: 43px;
	left: 19px;
	top: 161px;

	background: rgba(90, 146, 255, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 7px;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 100%;
	/* or 22px */

	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
	justify-content: center;
	user-select: none;
}